/*Footer 1***************/
.footer-wrapper {
    background-color: $title-color;
}

.widget-area {
    padding: 90px 0 30px;
}

.copyright-wrap {
    padding: 28px 0;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 18px;
    font-family: $title-font;

    @include vxs {
        font-size: 14px;
    }

    a {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
            color: $theme-color2;
        }
    }
}

.footer-links {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    justify-content: center;

    a {
        font-size: 18px;
        font-weight: 400;
        font-family: $title-font;
        color: rgba(255, 255, 255, 0.7);

        @include vxs {
            font-size: 14px;
        }

        &:not(:last-child) {
            border-inline-end: 1px solid rgba(255, 255, 255, 0.7);
            padding-inline-end: 20px;
            margin-inline-end: 20px;

            @include vxs {
                padding-inline-end: 10px;
                margin-inline-end: 10px;
            }
        }


        &:hover {
            color: $theme-color2;
        }
    }
    @include xs {
        a {
            
        }
    }
}

/*Footer 4***************/
.footer-layout4 {
    background: #121212;
    --body-color: #ffffff;
    .copyright-wrap {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .widget-about {
        .social-btn {
            border-radius: 5px;
            border: 1px solid rgba(36, 63, 55, 0.8);
            display: inline-flex;
            padding: 8px 10px;
            gap: 25px;
            a {
                background: transparent;
                width: auto;
                height: auto;
                line-height: normal;
                &:hover {
                    color: $theme-color2;
                }
            }
        }
    }
}
/*Footer 5***************/
.footer-layout5 {
    --body-color: rgba(255,255,255,0.7);
    .social-btn a {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: rgba(25, 53, 45, 0.2);
        &:hover {
            background: $title-color;
            color: $white-color;
        }
    }
    .widget-contact-grid h6 a {
        color: $body-color;
    }
    .widget-contact-grid h6 {
        color: $body-color;
    }
}


/* =================================== Footer HOme One css start ================================== */
.recent-project-item {
    &:hover {
        .recent-project-item {
            &__link {
                transform: scale(1);
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__link {
        background-color: #00000070;
        z-index: 1;
        transform: scale(.6);
        visibility: hidden;
        opacity: 0;
    }
}

.social-icons {
    &__link {
        width: 42px;
        height: 42px;
        color: var(--theme-color2);
        background-color: #060606;
        border-radius: 4px;
        &:hover {
            background-color: var(--theme-color2);
        }
    }

    &.style-sm {
        .social-icons {
            &__link {
                width: 30px;
                height: 30px;
            }
        }
    }
}
/* =================================== Footer HOme One css End ================================== */