/*-- margin Left And Right --*/
@for $i from 1 through $space-count {
  .mx-#{5 * $i} {
    margin-inline-end: 5px *$i;
    margin-inline-start: 5px *$i;
  }
}

/*-- margin Top And Bottom --*/
@for $i from 1 through $space-count {
  .my-#{5 * $i} {
    margin-top: 5px *$i;
    margin-bottom: 5px *$i;
  }
}

/*-- margin Top --*/
@for $i from 1 through $space-count {
  .mt-#{5 * $i} {
    margin-top: 5px *$i;
  }
}

/*-- margin Bottom --*/
@for $i from 1 through $space-count {
  .mb-#{5 * $i} {
    margin-bottom: 5px *$i;
  }
}

.mt {
  &-20 {
    margin-top: 20px;
  }
  &-32 {
    margin-top: 32px;
  }
  &-42 {
    margin-top: 42px;
  }
}

.mb {
  &-20 {
    margin-bottom: 20px;
  }
  &-32 {
    margin-bottom: 32px;
  }
  &-42 {
    margin-bottom: 42px;
  }
  &-60 {
    margin-bottom: 60px;
    @media (max-width: 1599px) {
      margin-bottom: 60px;
    }
    @media (max-width: 1199px) {
      margin-bottom: 48px;
    }
  }
}

.my {
  &-20 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  &-32 {
    margin-bottom: 32px;
    margin-top: 32px;
  }
  &-42 {
    margin-bottom: 42px;
    margin-top: 42px;
  }
}

.mb--4 {
  margin-bottom: -1.5rem !important;
}

.margin-right-80 {
  margin-right: 80px;
}
.margin-left-80 {
  margin-left: 80px;
}
/*-- margin Left --*/
@for $i from 1 through $space-count {
  .ml-#{5 * $i} {
    margin-inline-start: 5px *$i;
  }
}

/*-- margin Right --*/
@for $i from 1 through $space-count {
  .mr-#{5 * $i} {
    margin-inline-end: 5px *$i;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}

.mt-n1 {
  margin-top: -.25rem;
}

.mt-n2 {
  margin-top: -.65rem;
}

.mt-n3 {
  margin-top: -0.8rem;
}

.mt-n4 {
  margin-top: -1.5rem;
}

.mt-n5 {
  margin-top: -3rem;
}

.mb-n1 {
  margin-bottom: -.25rem;
}

.mb-n2 {
  margin-bottom: -.6rem;
}

.mb-n3 {
  margin-bottom: -0.8rem;
}

.mb-n4 {
  margin-bottom: -1.5rem;
}

.mb-n5 {
  margin-bottom: -3rem;
}

.mb-30 {
  margin-bottom: 30px;
}


.mb-100 {
  margin-bottom: 100px;
}

.mb-135 {
  margin-bottom: 135px; 
}
.me-2 {
  margin-right: 0 !important;
  margin-inline-end: .5rem!important;
}