/*-- Padding Left And Right --*/
@for $i from 1 through $space-count {
  .px-#{5 * $i} {
    padding-inline-end: 5px *$i;
    padding-inline-start: 5px *$i;
  }
}

/*-- Padding Top And Bottom --*/
@for $i from 1 through $space-count {
  .py-#{5 * $i} {
    padding-top: 5px *$i;
    padding-bottom: 5px *$i;
  }
}

/*-- Padding Top --*/
@for $i from 1 through $space-count {
  .pt-#{5 * $i} {
    padding-top: 5px *$i;
  }
}

/*-- Padding Bottom --*/
@for $i from 1 through $space-count {
  .pb-#{5 * $i} {
    padding-bottom: 5px *$i;
  }
}

.ps-32 {
  padding: 16px;
    @media (max-width: 1599px) {
      padding: 32px;
    }
    @media (max-width: 1399px) {
      padding: 24px;
    }
}

.p {
  &-20 {
    padding: 20px;
  }
  &-32 {
    padding: unquote("clamp(1.25rem, -0.9981rem + 3vw, 2rem)") !important;
  }
  &-40 {
    padding: 40px;
    @media (max-width: 1599px) {
      padding: 32px;
    }
    @media (max-width: 1399px) {
      padding: 24px;
    }
  }
  &-42 {
    padding: 42px;
  }
}
.pb {
  &-20 {
    padding-bottom: 20px;
  }
  &-32 {
    padding-bottom: 32px;
  }
  &-42 {
    padding-bottom: 42px;
  }
}

/*-- Padding Left --*/
@for $i from 1 through $space-count {
  .pl-#{5 * $i} {
    padding-inline-start: 5px *$i;
  }
}

/*-- Padding Right --*/
@for $i from 1 through $space-count {
  .pr-#{5 * $i} {
    padding-inline-end: 5px *$i;
  }
}


.pe-56 {
  padding-inline-end: 56px !important;
}

.pb-60 {
  padding-bottom: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.py-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-105 {
  padding-bottom: 105px;
}
.pt-105 {
  padding-top: 105px;
}
.pt-95 {
  padding-top: 95px;
}



.pe-lg-5 {
  padding-right: unset !important;
  padding-inline-end: 3rem !important;       
}

.ps-lg-5 {
  padding-left: unset !important;
  padding-inline-start: 3rem !important;
}

.ps-0 {
  padding-left: 0!important;
  padding-inline-start: 0;
}


.py-60 {
  padding-top: unquote("clamp(1.5rem, -8.9913rem + 14vw, 3.75rem)");
  padding-bottom: unquote("clamp(1.5rem, -8.9913rem + 14vw, 3.75rem)");
}

.py-80 {
  padding-top: unquote("clamp(1.5rem, -8.9913rem + 14vw, 5rem)");
  padding-bottom: unquote("clamp(1.5rem, -8.9913rem + 14vw, 5rem)");
}

.pb-80 {
  padding-bottom: unquote("clamp(1.5rem, -8.9913rem + 14vw, 5rem)");
}

.px-110 {
  padding-left: unquote("clamp(1.5rem, -8.9913rem + 14vw, 6.875rem)");
  padding-right: unquote("clamp(1.5rem, -8.9913rem + 14vw, 6.875rem)");
}