/*---------------------------------------------
    :: Blog
-----------------------------------------------*/

.blog-area {
    padding: 110px 0px;
    @media #{$xs-to-md-max} {
        padding: 70px 0px;
    }
    background-color: rgba(0, 81, 81, 0.05);
    .section-title {
        max-width: 590px;
        margin: auto;
        text-transform: capitalize;
        .highlight-title {
            font-size: 24px;
            margin-bottom: 16px;
            @media #{$xs-to-md-max} {
                font-size: 20px;
            }
        }
        margin-bottom: 65px;
    }
    .blog-card {
        background-color: var(--white-color);
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }
    .blog-img {
        position: relative;
        overflow: hidden;
        transition: .4s;
        &:hover img {
            transition: .4s;
            -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
        }
        img {
            border-radius: 5px 5px 0px 0px;
            width: 100%;
            height: 100%;
            transition: .4s;
        }
        .blog-tags {
            border-radius: 3px;
            background-color: var(--base);
            width: 70px;
            height: 70px;
            position: absolute;
            inset-inline-end: 18px;
            inset-block-start: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .pera {
                font-size: 24px;
                color: var(--white-color);
                font-weight: 500;
                letter-spacing: -0.72px;
                line-height: normal;
                text-align: center;
                @media #{$xs-to-md-max} {
                    font-size: 20px;
                }
            }
            .mini-pera {
                font-size: 16px;
                font-weight: 400;
                color: var(--white-color);
                @media #{$xs-to-md-max} {
                    font-size: 14px;
                }
            }
        }
    }
    .blog-content {
        padding: 30px 40px 2px 30px;
        @media #{$xs-to-md-max} {
            padding: 14px 26px 2px 18px;
        }
        .highlight {
            color: var(--base);
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.32px;
            line-height: normal;
            margin-bottom: 15px;
            text-transform: capitalize;
            @media #{$xs-to-md-max} {
                font-size: 14px;
            }
        }
        .title {
            color: var(--secondary-color);
            font-size: 22px;
            font-weight: 700;
            line-height: 1.36;
            text-transform: capitalize;
            letter-spacing: -0.66px;
            transition: .3s linear;
            @media #{$xs-to-md-max} {
                font-size: 16px;
            }
            &:hover {
                color: var(--base);
            }
        }
    }
    .blog-footer {
        padding: 5px 41px 35px 30px;
        @media #{$xs-to-md-max} {
            padding: 5px 25px 20px 18px;
        }
        .user {
            display: flex;
            gap: 7px;
            .pera {
                font-size: 16px;
                @extend .text-heading; 
                font-weight: 400;
                letter-spacing: -0.32px;
                line-height: normal;
                @media #{$xs-to-md-max} {
                    font-size: 14px;
                }
            }
        }
    }
}
