/*---------------------------------------------
    :: Consultant
-----------------------------------------------*/
.consultant-area {
    padding-top: 58px;
    padding-bottom: 110px;
    @media #{$xs-to-md-max} {
        padding-bottom: 70px;
    }
    .consultant-card-one {
        background-color: var(--light-gray);
        border-radius: 4px;
        height: 100%;
        padding: 56px 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media #{$xs-to-md-max} {
            padding: 20px;
        }
        .title {
            color: var(--secondary-color);
            font-size: 24px;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 20px;
        }
        img {
            width: 100%;
            height: 100%;
        }
        .button-section {
            margin-bottom: 40px;
        }
    }
    .consultant-card-two {
        background-color: var(--base);
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        @media #{$xs-to-md-max} {
            padding: 30px;
        }
        .title {
            color: var(--white-color);
            font-family: var(--Mulish);
            font-size: 45px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 49px;
            line-height: normal;
            text-align: center;
            max-width: 305px;
            @media #{$xs-to-md-max} {
                font-size: 30px;
            }
        }
        .fancy-text {
            color: var(--white-color);
            font-size: 25px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: normal;
            @media #{$xs-to-md-max} {
                font-size: 18px;
            }
        }
    }
    .consultant-card-three {
        background-color: var(--light-gray);
        border-radius: 4px;
        padding: 35px 50px;
        height: 100%;
        img {
            width: 100%;
        }
        @media #{$xs-to-md-max} {
            padding: 30px;
        }
        .title {
            color: var(--secondary-color);
            font-size: 30px;
            font-family: var(--Mulish);
            font-weight: 700;
            line-height: 1.2;
            max-width: 240px;
            @media #{$xs-to-md-max} {
                font-size: 18px;
            }
        }
        .footer {
            display: flex;
            align-items: center;
            gap: 20px;
            padding-top: 42px;
            width: 100%;
            @media #{$xs-to-xxl-max} {
                flex-wrap: wrap;
            }
            .subscribe-section {
                position: relative;
                width: 100%;
                .custom-form {
                    border: 1px solid var(--secondary-color);
                    border-radius: 4px;
                    padding: 36px 16px;
                    width: 100%;
                    padding-right: 160px !important;
                    &::placeholder {
                        color: var(--primary-paragraph);
                        font-size: 18px;
                        font-family: var(--Mulish);
                        font-weight: 400;
                        line-height: normal;
                        @media #{$xs-to-md-max} {
                            font-size: 14px;
                        }
                    }
                }
                .btn-primary {
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    @media #{$xs-to-xxl-max} {
                        position: absolute;
                        top: 12px;
                        right: 12px;
                    }
                }
            }
        }
    }
}
