/*---------------------------------------------
    :: Event
-----------------------------------------------*/

.event-area {
    padding: 155px 0px;
    @media #{$xs-to-md-max} {
        padding: 100px 0px;
    }
    &.event-area-bg {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../assets/img/homeSix/event-bg-2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }
    }
    .icon-title-section {
        display: flex;
        gap: 57px;
        margin-bottom: 54px;
        margin-top: 30px;
        @media #{$xs-to-sm-max} {
            gap: 20px;
            flex-wrap: wrap;
        }
    }
    .icon-with-title {
        position: relative;
        display: flex;
        gap: 12px;
        align-items: center;
        i {
            color: var(--base);
            font-size: 18px;
        }
        .pera {
            color: var(--white-color);
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            @media #{$xs-to-md-max} {
                font-size: 16px;
            }
        }
    }
    .event-shape {
        width: 336px;
        height: 390px;
        border-radius: 999px 999px 0px 0px;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        inset-inline-end: 14%;
        inset-block-end: 0;
        z-index: 2;
        @media #{$xs-to-md-max} {
            display: none;
        }
        .circle-shape {
            position: relative;
            width: 185px;
            height: 185px;
            border-radius: 50%;
            background-color: var(--base);
            padding: 20px;
            inset-block-start: 12%;
            inset-inline-start: 24%;
            .play{
                color: var(--white-color);
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .rotate-text {
                position: absolute;
                width: 80%;
                height: 80%;
                color: var(--white-color);
                font-size: 12px;
                animation: textRotation 8s linear infinite;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
            }
        
            @keyframes textRotation {
                100% {
                    transform: rotate(360deg);
                }
            }       
            .rotate-text span {
                position: absolute;
                left: 50%;
                transform-origin: 0 75px;
                font-size: 14px;
                top: 0;
            
            }
        }
        
    }
}
