/*---------------------------------------------
    :: Footer 
-----------------------------------------------*/
.footer-area {
    background-color: var(--footer-bg);
    padding-top: 93px;
    @media #{$xs-to-md-max} {
       padding-top: 60px;                 
    }
    .footer-widget {
        .logo {
            margin-bottom: 42px;
            @media #{$xs-to-sm-max} {
                img{
                    max-width: 160px;
                }
                margin-bottom: 30px;
            }
        }
        &.mxw-260{
            max-width: 260px;
        }
        .pera {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.87;
            color: var(--white-color);
            margin-bottom: 20px;
        }
        .title{
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            color: var(--white-color);
            letter-spacing: -0.36px;
            margin-bottom: 16px;
        }
        .footer-link{
            li{
                font-size: 16px;
                font-weight: 400;
                line-height: 2.5;
                color: var(--white-color);
                margin-bottom: 0px;
                &:last-child{
                    margin-bottom: 0;
                }
                i{
                    color: var(--base);
                }
                transition: .3s;
                &:hover{
                    color: var(--base);
                }
            }
        }
        .email-section {
            position: relative;
            .custom-form {
                width: 100%;
                height: 56px;
                border-radius: 5px;
                padding-left: 30px;
                font-size: 16px;
                font-weight: 400;
                background-color: var(--white-color);
                padding: 22px 25px;
                border: 1px solid var(--white-color);
                &::placeholder {
                    font-size: 16px;
                    font-weight: 400;
                    color: #696969;
                }
            }
            .mini-btn {
                position: absolute;
                inset-block-start: 4px;
                inset-inline-end: 4px;
                background-color: var(--base);
                width: 46px;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border: 1px solid var(--base);
                color: var(--white-color);
                transition: .3s;
                &:hover {
                    background-color: var(--white-color);
                    color: var(--base);
                }
            }
        }
    }
    .footer-hr{
        background-color: rgba(255, 255, 255, 0.10);
        height: 1px;

    }
    .footer-top{
        padding-bottom: 80px;
        @media #{$xs-to-md-max} {
            padding-bottom: 60px;                 
        }
    }
    .footer-bottom{
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        .copyright-content{
            .pera{
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                color: var(--white-color);
                margin-bottom: 0;
            }
        }
        .imp-link{
            ul{
                gap: 28px;
                li{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    color: var(--white-color);
                    margin-bottom: 0;
                    a{
                        color: var(--white-color);
                        transition: .3s;
                        &:hover{
                            color: var(--base);
                        }
                    }
                }
            }
        }
    }
}
