.hero-section {
    @extend .gradient-bg;
}
.hero-area {
    padding-top: 25px;
    @media (max-width: 991px) {
        padding-top: 50px;
    }
    .section-title {
        margin-bottom: 20px;
        .title {
            color: var(--white-color);
            text-align: center;
            font-size: 55px;
            font-weight: 700;
            line-height: normal;
            @media (max-width: 991px) {
                font-size: 40px;                  
            }
            @media (max-width: 991px) {
                font-size: 24px;                  
            }
        }
    }

    .multi-img {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .single-img {
            width: 57px;
            min-width: 57px;
            height: 57px;
            border-radius: 50%;
            border: 2px solid var(--white-color);
            transition: .2s linear;
            &:not(:first-child) {
                margin-right: -14px;
                margin-left: -18px;

                @media (max-width: 991px) {
                    margin-right: -20px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

            &:hover {
                cursor: pointer;
                border: none;
                scale: 1.25;
            }
        }

        .single-img-count {
            width: 57px;
            min-width: 57px;
            height: 57px;
            border-radius: 50%;
            border: 2px solid var(--white-color);
            background-color:  #243f37;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-count {
                color: var(--white-color);
                font-size: 18px;
                font-weight: 500;
                line-height: 1.44;
                margin-bottom: 0;
            }
        }

        .pera {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            text-transform: capitalize;
            color: var(--white-color);
            margin: 0px 12px;
        }
    }
    .hero-left-content {
        position: relative;
        z-index: 1;
        padding-bottom: 30px;
        .pera {
            color: var(--white-color);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;
            text-transform: lowercase;
        }
        .hero-btn {
            margin-top: 57px;
            margin-bottom: 84px;
            @media (max-width: 991px) {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .hero-thumb {
        position: relative;
        z-index: 2;
        img {
            width: 100%;
        }
    }
    @media (max-width: 991px) {
        .sm-wrapper{
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
    .hero-right-content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 68px;
        padding-bottom: 30px;
        @media (max-width: 991px) {
            gap: 30px;
            flex-direction: row;
        }
        .hero-right-element {
            .title {
                color: var(--white-color);
                font-size: 48px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -1.44px;
                @media (max-width: 991px) {
                    font-size: 30px;                  
                }
            }
            .pera {
                color: var(--white-color);
                font-size: 18px;
                font-weight: 400;
                line-height: 1.6;
                letter-spacing: -0.54px;
                @media (max-width: 991px) {
                    font-size: 16px;                  
                }
            }
        }
        .key-word {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-top: 40px;
            .key {
                color: var(--white-color);
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                width: 40px;
                min-width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                &.active {
                    background-color: var(--white-color);
                    color: var(--primary-color);
                }
            }
        }
    }
}
.hero-shape-one {  
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    z-index: 0;
    @media (max-width: 991px) {
        display: none;
    }
}
.hero-shape-two {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    @media (max-width: 991px) {
        display: none;                 
    }

}
