/* =========================== Choose Us Css Start =============================== */
.choose-us-thumbs {
    padding-bottom: 200px;
    @media (max-width: 1199px) {
      padding-bottom: 0px;
    }
}
  @media (min-width: 1200px) {
    .choose-us-thumbs__two {
        position: absolute;
        inset-inline-end: 0;
        inset-block-end: 0;
        max-width: 316px !important;
        border: 1px solid #fff;
    }
  }
  @media (max-width: 1399px) {
    .choose-us-thumbs__two {
      max-width: 354px;
    }
  }
  @media screen and (max-width: 1199px) {
    .choose-us-thumbs__two {
      max-width: 100%;
      width: 100%;
    }
  }
  
  .peoples div:not(:first-child) {
    margin-inline-start: -10px;
  }
  


  
  // text roatation
.circle {
  --width: 140px;
  --height: 140px;
  width: var(--width, 140px);
  height: var(--height, 140px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  left: 26%;
  bottom: 20%;
  z-index: 3;
  @media (max-width: 1199px) {
    left: 50%;
    bottom: 50%;
  }
  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    -webkit-animation: rotateText 10s linear infinite;
    color: var(--neutral-700);
    font-weight: 600;
    .char {
      position: absolute;
      left: 50%;
      font-size: 12px;
      transform-origin: 0 calc(var(--width, 350px) / 2);
    }
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
  /* =========================== Choose Us Css End =============================== */