.service-area-2 {
    margin: 0 70px;

    @include xxl {
        margin: 0 30px;
    }
    @include sm {
        margin: 0;
    }
}

/* Service Card ---------------------------------- */
.service-card {
    background: $white-color;
    overflow: hidden;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;


    &_img {
        min-width: 220px;
        border-radius: 20px 0 0 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 0 0 20px;
            transition: all 0.4s ease;
        }
    }


    &_title {
        margin-top: -0.2em;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 22px;

        @include vxs {
            font-size: 20px;
        }

        a {
            color: $title-color;

            &:hover {
                color: $theme-color;
            }
        }
    }

    &_content {
        padding: 30px;
    }

    &_text {
        font-size: 18px;
        font-family: $title-font;
        margin-bottom: 35px;
    }

    .link-btn {
        color: $title-color;
        font-size: 16px;
        font-weight: 700;
        font-family: $title-font;
        text-transform: capitalize;

        &:before {
            background: $title-color;
        }

        i {
            margin-inline-start: 5px;
        }
    }

    &:hover {

        .service-card_img {
            img {
                transform: scale(1.05);
            }
        }
    }
}

.service-title-area {
    max-width: 414px;
    display: block;
    margin-inline-start: auto;
    margin-bottom: 62px;

    @include md {
        max-width: 100%;
        margin-inline-start: 0;
    }

    p {
        font-size: 18px;
    }
}

@include lg {
    .service-card {
        display: block;

        .service-card_img {
            border-radius: 20px 20px 0 0;
            height: 300px;

            img {
                border-radius: 20px 20px 0 0;
            }
        }

        .service-card_text {
            font-size: 16px;
        }
    }
}

/* Service details page ---------------------------------- */
.page-thumb {
    border-radius: 10px;
    img {
        border-radius: 10px;
        min-height: 350px;
        width: 100%;
        object-fit: cover;
    }
    &.style2 {
        border-radius: 20px;
        img {
            min-height: 270px;
            border-radius: 20px;
        }
    }
}
.service-details-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #EBF3EE;
    border-radius: 0 0 10px 10px;
    padding: 20px 30px;
    transform: translate(0, -54px);
    margin-bottom: -54px;
    gap: 20px;
    @include ml {
        transform: translate(0, -15px);
        margin-bottom: -15px;
    }
    .single-service-list {
        .title {
            font-size: 18px;
            font-weight: 400;
            display: block;
            margin-bottom: 8px;
        }
        .content {
            margin-bottom: 0;
            font-size: 22px;
            font-weight: 500;
            @include ml {
                font-size: 20px;
            }
        }
    }
}

/* Service Card 3---------------------------------- */
.service-card-3 {
    border-radius: 20px;
    border: 1px solid $theme-color;
    background: transparent;
    padding: 40px 40px;
    transition: .2s linear;
    &:hover {
        border-color: var(--theme-color2);
    }
    .service-card-icon {
        margin-bottom: 35px;
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
        background: #121212;
        img {
            transition: 0.4s;
        }
    }
    .service-card_content {
        padding: 0;
    }
    .service-card_title {
        margin-bottom: 20px;
        a {
            color: $white-color;
            transition: 0.4s;
            &:hover {
                color: $theme-color2
            }
        }
    }
    .service-card_text {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.888;
        color: $white-color;
    }
    .link-btn {
        font-size: 16px;
        font-weight: 700;
        color: $white-color;
        &:before {
            background: $white-color;
        }
        &:hover {
            i {
                color: $theme-color2;
            }
        }
    }
    &:hover {
        .service-card-icon {
            img {
                transform: rotateY(180deg);
            }
        }
    }
}

/* Service Card 4---------------------------------- */
.service-card-4 {
    border: 1px solid $theme-color;
    padding: 30px;
    border-radius: 20px;
    transition: 0.4s;
    .service-card-thumb {
        border-radius: 20px;
        overflow: hidden;
        img {
            transition: 0.4s;
            width: 100%;
        }
    }
    .service-card_content {
        padding: 30px 10px 0;
        .service-card_title {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
            a {
                color: $white-color;
                &:hover {
                    color: $theme-color2;
                }
            }
        }
        .service-card_text {
            margin-bottom: 0;
            font-size: 18px;
            color: $white-color;
            opacity: 0.7;
        }
    }
    &:hover {
        border-color: $theme-color2;
        transform: translate(0, -20px);
        .service-card-thumb {
            img {
                transform: scale(1.1);
            }
        }
    }
    @include ml {
        .service-card-thumb {
            border-radius: 15px;
        }
        .service-card_content {
            padding: 30px 0px 0;
            .service-card_title {
                font-size: 20px;
            }
            .service-card_text {
                font-size: 16px;
            }
        }
    }
    @include lg {
        &:hover {
            transform: none;
        }
    }
}




/* ========================== Home One service css start ============================= */
.services-section {
    margin-top: -132px;
    @media (max-width: 991px) {
        margin-top: 120px;
    }
}

.service-item {
    padding: 48px 32px;
    height: 100%;
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--theme-color2);
        inset-inline-start: 0;
        inset-block-start: 0;
        z-index: -1;
        clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
        transition: all ease 0.4s;          
        visibility: hidden;
        opacity: 0;
    }
    @media (max-width: 1599px) {
        padding: 32px 24px;
    }
    @media (max-width: 1399px) {
        padding: 24px 16px;
    }
    &:hover {
        &::before {
            visibility: visible;
            opacity: 1;
        }
        .service-item {
            &__title, &__desc, &__btn {
                color: var(--dark-color) !important;                
            }
            &__icon {
                &::before {
                    background-color: #ffffff;
                }
                img {
                    filter: brightness(0.1);
                }
            }
        }
    }
    &__title, &__desc, &__btn {
        transition: all ease 0.4s;          
    }
    &__icon {
        position: relative;
        display: flex;
        padding-inline-start: 8px;
        img {
            transition: all ease 0.4s;          
        }
        &::before {
            position: absolute;
            content: "";
            width: 50px;
            height: 50px;
            inset-inline-end: 0;
            inset-inline-start: 0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.150);
            transition: all ease 0.4s;       
        }
    }
    &__desc {
        color: var(--white-color);
    }


    /* Service Style Two */
    &.style-two {
        &::before {
            display: none !important; 
        }
        .service-item {
            &__icon {
                &::before {
                    width: 80px;
                    height: 80px;
                    opacity: .4;
                }
            }
        }
    }
}
/* ========================== Home One service css End ============================= */


/* ========================== Home One service Two css start ============================= */
.service-two-item {
    border: 1px solid #CACACA;
    border-radius: 5px;
    padding: 40px;
    overflow: hidden;
    z-index: 1;
    transition: .2s linear;
    &:hover {
        border-color: var(--theme-color2);
        &::before {
            visibility: visible;
            opacity: 1;
        }
    }
    @media (max-width: 1199px) {
        padding: 40px 24px;
    }
    &::before {
        position: absolute;
        content: "";
        width: 170px;
        height: 80px;
        background-color: var(--theme-color2);
        inset-inline-start: -45px;
        inset-block-start: 0;
        border-radius: 100px;
        transform: rotate(45deg);
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transition: .2s linear;
    }
    &__icon {
        width: 80px;
        height: 80px;
        background-color: var(--theme-color2);
    }
}


.services-two-section {
    position: relative;
    z-index: 1;
    margin-top: -104px;
    @media (min-width: 991px) {
        padding-bottom: 60px;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: calc(100% - 104px);
        background-color: var(--theme-color);
        inset-inline-start: 0;
        inset-inline-end: 0;
        bottom: 0;
        z-index: -1;
    }
}
/* ========================== Home One service Two css End ============================= */


/* ========================== Home Two Serve Two css Start ============================= */
.serve-two-section {
    &__inner {
        padding: 80px;
        padding-top: 0 !important;
        @media (max-width: 1599px) {
            padding: 56px;
        }
        @media (max-width: 1399px) {
            padding: 40px;
        }
        @media (max-width: 1199px) {
            padding: 24px;
        }

        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/bg/serve-two-section-bg.png);
            width: 100%;
            height: 100%;
            background-size: cover;
            inset-inline-start: 0;
            inset-block-start: 0;
            z-index: -1;
        }
    }
}
.serve-two-item {
    &:hover {
        .border-lighter {
            border-color: hwb(240 4% 96% / 0.30) !important;
        }
        .serve-two-item {
            &__icon {
                filter: brightness(.1);   
            }
        }
    }
}
/* ========================== Home Two Serve Two css End ============================= */


