.footer-layout2 .social-btn.style3 a {
    margin-inline-start: 15px;
    margin-inline-end: 0;
}
.footer-layout2 .widget-contact2 {
    margin-inline-start: 20px;
    margin-inline-end: 0;
}
.footer-layout2 .copyright-wrap .footer-links a:not(:last-child) {
    border-inline-start: 0;
    padding-inline-start: 0;
}